#calendar {
    flex: 2;
    background-color: var(--bg-light);
 
    position: relative;
}

#alertWeather{
    flex: 1;
    height: 100vh;
    overflow: hidden auto;
    max-width: 400px;
    box-sizing: border-box;
    padding:15px 40px;
    min-width: 300px;
    background-color: var(--bg-side-bar);
}