:root {
    font-family: 'Lato', 'Roboto', 'Arimo', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
body.light {


    --bg-light: #e4ecfa;
    --bg-ele: #fefdff;
    --bg-ele-blue: #83acff;
    --bg-ele-pink: #fe74a7;
    --bg-search: #f0f4ff;
    --bg-box-layout: white;
    --text-1: #6291f8;
    --bg-item-selected: #fe8bb4;
    --text-0: #253b4e;
    --text-drop: #c0c0c0;
    --bg-side-bar: #ffffff;
    --bg-box:#ffffff;
    --bg-sun-box:#fffde7;
    --bd-sun-box:#ffb300;
    --pl-holder:#82848A;
    --bd-cal: #ccc;
    --cal-select:#ccc;
    --text-df:#000000;
    --bg-cal-btn:#2C3E50;
    --cal-pop-h:hsla(0,0%,82%,.3);
    --bx-sd:rgba(0,0,0,0.45);
    --nav-active:#f0f0f0;

}
body.dark {


    --bg-light: #313060;
    --bg-ele: #fefdff;
    --bg-ele-blue: #83acff;
    --bg-ele-pink: #fe74a7;
    --bg-ele-yellow: #ffb55e;
    --bg-search: #313060;
    --bg-box-layout: white;
    --text-1: #ffffff;
    --bg-item-selected: #fe8bb4;
    --text-0: #fdfdfd;
    --text-drop: #c0c0c0;
    --bg-side-bar: #2d2a54;
    --bg-box:#3b3a6f;
    --bg-sun-box:#2d2a54;
    --bd-sun-box:transparent;
    --pl-holder:#fdfdfd;
    --bd-cal: #999;
    --cal-select:#558cb9;
    --text-df:#ffffff;
    --bg-cal-btn:#3b3a6f;
    --cal-pop-h:#2d2a54;
    --bx-sd:rgba(255,255,255,0.45);
    --nav-active:#2d2a54;
}

