:root {
    font-family: 'Lato', 'Roboto', 'Arimo', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
body.light {


    --bg-light: #e4ecfa;
    --bg-ele: #fefdff;
    --bg-ele-blue: #83acff;
    --bg-ele-pink: #fe74a7;
    --bg-search: #f0f4ff;
    --bg-box-layout: white;
    --text-1: #6291f8;
    --bg-item-selected: #fe8bb4;
    --text-0: #253b4e;
    --text-drop: #c0c0c0;
    --bg-side-bar: #ffffff;
    --bg-box:#ffffff;
    --bg-sun-box:#fffde7;
    --bd-sun-box:#ffb300;
    --pl-holder:#82848A;

    --text-df:#000000;

}
body.dark {


    --bg-light: #313060;
    --bg-ele: #fefdff;
    --bg-ele-blue: #83acff;
    --bg-ele-pink: #fe74a7;
    --bg-ele-yellow: #ffb55e;
    --bg-search: #313060;
    --bg-box-layout: white;
    --text-1: #ffffff;
    --bg-item-selected: #fe8bb4;
    --text-0: #fdfdfd;
    --text-drop: #c0c0c0;
    --bg-side-bar: #2d2a54;
    --bg-box:#3b3a6f;
    --bg-sun-box:#2d2a54;
    --bd-sun-box:transparent;
    --pl-holder:#fdfdfd;
    --text-df:#ffffff;

}

